@model Entidad.Departamentos

@{
    ViewBag.Title = "ConsigueDpto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda</h2>

<div>
    <h4>Departamentos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDepa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDepa)
        </dd>

        <dt>
             Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDepa)
        </dd>

        <dt>
            Siglas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Siglas)
        </dd>

        <dt>
            Año_Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.año)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new {  id = Model.IdDepa  }) |
    @Html.ActionLink("Regresar", "Index")
</p>
