@model Entidad.Departamentos
@{
    ViewBag.Title = "Crear Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Departamentos</h2>

    <form action="@Url.Action("Crear","Departamento")" method="post" id="frmUsuario">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
               @Html.LabelFor(model => model.NombreDepa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NombreDepa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NombreDepa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Siglas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Siglas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Siglas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.año, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.año, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.año, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

<div>
    @Html.ActionLink("Regresar", "Index", "Departamento")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script>
        $("#frmUsuario").submit(function (event) {
            event.preventDefault();

            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var from_data = $(this).serializeArray();
            console.log(from_data);

            //$("#frmUsuario").LoadingOverlay("show", {
            //    image: "/Content/gatoAzul.gif",
            //    imageResizeFactor: 0.6
            //});

            LoadingOverlayShow("#frmUsuario");
            $.ajax({
                url: post_url,
                type: request_method,
                data: from_data

            }).done(function (response) {
                console.log(response);
                LoadingOverlayHide("#frmUsuario");
                if (response.ok) {
                    alert("Departamento Guardado Correctamente");
                    window.location = response.toRedirect;
                } else {
                    alert(response.msg)
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#frmUsuario");
                //$("#frmUsuario").LoadingOverlay("hide", true);

            });
        });

        function LoadingOverlayShow(id) {

            $(id).LoadingOverlay("show", {
                color: "rgba(255,255,255,0.5)",
                image: "/Content/gatoAzul.gif",
                imageResizeFactor: 0.6,
                //imageAnimation: "1.5s fadein"
            });
        }

        function LoadingOverlayHide(id) {

            $(id).LoadingOverlay("hide");
        }

    </script>
}
